@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--blue);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background: #C9D6FF; 
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
  color: var(--accent);
  padding-bottom: 100px;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  }

#progress {
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 10%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.3;
}

#progress .indicator {
  stroke: var(--accent);
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 641px;
  overflow-y: scroll;
  padding: 0;
  flex: 0 0 300px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

li {
  flex: 0 0 200px;
  background: var(--accent);
  margin: 0 4px 10px 0;
  border-radius: 20px;
}